<p>
  minimalistic shortener
</p>

<form action="/urls" method="post">
  <input type="url" name="url" placeholder="https://oltdaniel.tk">
  <button type="submit">Add</button>
</form>

<br><br>

<a href="/urls">All urls</a>
