<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>shoc</title>
    <style media="screen">
      *{font-family:monospace;color:#212121;outline:none}button,hr,input{border:none}body{width:95%;max-width:350px;margin:20px auto;text-align:center;position:relative}input{display:block;width:100%;padding:3px 5px;margin:5px 0;border-bottom:1px solid #212121}button{padding:5px 15px;background:#2979FF;color:#fff;cursor:pointer}a{color:#2979FF}error{font-size:2rem}hr{height:1px;background-color:#ccc}main{min-height:40vh}footer{padding:20px}footer,footer *{color:#aaa}
    </style>
  </head>
  <body>
    <h2>shoc</h2>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; Copyright 2018 - present : <a href="https://github.com/oltdaniel">Daniel Oltmanns</a><br><br>
      <a href="/recover">recover</a>
    </footer>
  </body>
</html>
