<a href="/">&lt; home</a>

<br><br>

<p>
  paste your user id below and we will recover your account
</p>

<form action="/recover" method="post">
  <input type="text" name="user_id" placeholder="user id">
  <button type="submit">Recover</button>
</form>
